name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:      
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'yarn'
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache
          key: dependencies-v1-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Linting Code
        run: yarn lint
      - name: TypeScript Check
        run: yarn test:ts
      - name: E2E Tests
        run: yarn test:ci
      - name: Create coverage
        run: yarn coverage:report
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}